[Unit]
Description=vtrack - making your environment variables rad
Documentation=https://vtrack.co.za
After=network.target

[Service]
User=davdm
Environdavidmment=localhost
WorkingDirectory=/home/davidm/vtracklinux
ExecStart=/home/davdm/.nvm/versions/node/v9.11.1/bin/node index.js

[Install]
WantedBy=multi-user.target