[Unit]
Description=Run VTrack at startup in the background as service via systemd
Documentation=https://wwww.vtracksolution.co.za
After=network.target

[Service]
WorkingDirectory=/etc/VTrack
ExecStart=/bin/bash /etc/VTrack/run.sh
Restart=on-abort


[Install]
WantedBy=multi-user.target
